* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#container 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 90%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    border: 5px solid #333;
    box-shadow: 5px 10px #888888;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 96%;
    /* border: 3px solid #333;
    box-shadow: 5px 10px #888888; */
    border-radius: 40px;
    margin-left: 10px;    
}

.nav-item {
    border-radius: 20px;
    align-content: center;
    padding: 16px;
    background-color: #fff;
}

.nav-item:hover {
    opacity: 1.0;
    transform: scale(1.3);
}

.nav-item:active{
    background-color: #008CBA;
}

.item-img {
    width: 70px;
    height: 70px;
}


.block {
    flex: 12;
    display: flex;
    flex-direction: column;
    height: 96%;
    margin: 0 30px;
    

}

.header {
    flex: 1;
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.header-img{
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;

}
.header-img:hover {
    opacity: 1.0;
    transform: scale(1.1);
  }


.header1{
    color: #FD8F52;
    line-height: 1.3;
}

.header-note {
    font-size: 20px;
}



/*Dự báo thời tiết*/
.thoitiet{
    width: 65%;
    height: 100%;
    background-image: linear-gradient(
        to right top,
        #ff68ac,
        #fb76c8,
        #ff20c7,
        #d810c8,
        #8800a2,
        #712db5,
        #5042c4,
        #0052d0,
        #0074e3,
        #0093ec,
        #00afef,
        #4cc9f0
    );
    padding:20px;
    color:#fff;
    border-radius:10px;
    font-family:arial;
    font-size:18px;
}
#otiet{
    background:#fff;
    padding:10px;
    width:100%;
    border:none;
}
#timtiet{
    width: 100px; 
    margin-left: 8px;  
    background:#666;
    border-radius: 5px;
    color:#fff;
}

.weather-loading{
display: flex;
justify-content: space-between;

}
.weather-info{
flex: 1;
}


.header-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin-right: 30px;
}

.icon {
    font-size: 30px;
    padding: 12px;
    border-radius: 10px;
    margin: 0 5px;
}

.icon:hover {
    background-color: #bbb;
}

.box{
    flex: 10;
}

.tab {
    width: 90%;
    height: 100%;
    display: flex;
    margin-left: 16px;
}

#Tab2,#Tab3{
    display: none;
}

.tab-box{
    margin-top: 20px;
    width: 100%;
    height: 70%;
    display:flex;
}

.switch-tab{
    flex: 1;
    margin: 0 32px;
}

.icon-tab{
    width: 300px;
}

#btn-fan{   
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    background-color: #fff;
}

  
@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}

.box-kitchen{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 80%;
    height: 400px;
}



.slider-kitchen{
    flex: 1;    
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon-kitchen{
    width: 200px;
}

.box-control {
    height: 100%;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.control-item {
    width: 100%;
    height: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
}



.device-item {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.switch-box {
    height: 100%;
    width: 160px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.box-device {
    height: 100%;
    width: 540px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icon-switch {
    margin-top: 16px;
    height: 80px;
    width: 80px;  
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: #666;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

input:checked[type="checkbox"]{
    background: rgb(50, 30, 231);
    -webkit-text-fill-color: transparent;
    box-shadow: 0 0 20px rgb(50, 30, 231);
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #fff;
    transition:  0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

input:checked[type="checkbox"]::before {
    left: 40px;
}

.member-box {
    width: 100%;
    height: 30%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.member-header {
    display: block;
    height: 15%;
    color: #009fff;
    margin-top: 10px;
    margin-left: 16px;
}


.member-content {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between; 

}

.member-person{
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}

.name-person {
    font-size: 20px;
    color: #FD8F52;
}


/*Circular Progress Bar*/
.ui-widgets {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 9rem;
	height: 9rem;
	border-radius: 9rem;
	margin:auto;
	border: 1.2rem solid palegreen;
	box-shadow:  0 0 7px grey;
	border-left-color: palegreen;
	border-top-color:chartreuse ;
	border-right-color: darkgreen;
	border-bottom-color: white ;
	box-sizing: border-box;
}

/* Apply css properties to the second
	child of ui-widgets class */
.ui-widgets:nth-child(1) {
	border-top-color:white ;
	border-right-color: white;
	border-left-color: palegreen;
	border-bottom-color: white;
}
.ui-widgets:nth-child(2) {
	border-top-color:chartreuse ;
	border-right-color: white;
	border-left-color: palegreen;
	border-bottom-color: white;
}

.ui-box{
    width: 7rem;
    height: 7rem;
    border-radius:9rem;
    box-shadow:  0 0 7px grey;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

/* Apply css properties to ui-widgets
class and ui-values class */
.ui-widgets .ui-values {
	font-size: 16px;   
}

/* Apply css properties to ui-widgets
class and ui-labels class */
.ui-widgets .ui-labels {
	color:black;
	font-size: 16px;   
}

/*Clock*/

.box-clock{
    box-shadow:none;
}
.clock {
    position: relative;
    width: 30%;
    height: 100%;
    padding: 8px 0;
    background-color: #000000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}


.clock::after {
    position: absolute;
    content: '';
    inset: 0;
    border-radius: inherit;
    background-image: linear-gradient(
        to right top,
        #ff68ac,
        #fb76c8,
        #ff20c7,
        #d810c8,
        #8800a2,
        #712db5,
        #5042c4,
        #0052d0,
        #0074e3,
        #0093ec,
        #00afef,
        #4cc9f0
    );
    filter: blur(80px) saturate(4);
    animation: identifier 2s ease-in infinite alternate;
}


@keyframes identifier {
    100% {
        filter: blur(180px);
    }
}


.box-1 {
    display: flex;
    justify-content: space-evenly;
}
 

.box-2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    background: -webkit-linear-gradient(#ff68ac,
    #fb76c8,
    #ff20c7,
    #d810c8,
    #8800a2,
    #712db5,
    #5042c4,
    #0052d0,
    #0074e3,
    #0093ec,
    #00afef,
    #4cc9f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-box-1 {
    font-size: 25px;
    background-image: linear-gradient(
        to bottom left,
        #ff68ac,
        #fb76c8,
        #ff20c7,
        #d810c8,
        #8800a2,
        #712db5,
        #5042c4,
        #0052d0,
        #0074e3,
        #0093ec,
        #00afef,
        #4cc9f0
    );
    color: transparent;
    -webkit-background-clip: text;
    filter: saturate(2);
}
.item-box-2 {
    font-size: 25px;
    padding: 0 5px;
}
.minute {
    position: relative;
}

    
    
